body {
    background-color: #02021a;
    color: aliceblue;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    margin: 0;
    font-size: 120%;
}

button {
    background-color: #eeff00;
    color: rgb(0, 0, 0);
    font-family: "Roboto", sans-serif;
    font-size: 100%;
}

.passo {
display: none;
}
.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 40%;
}
