body {
    background-color: #000000;
    color: aliceblue;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    margin: 0;
    font-size: 120%;
}

button {
    background-color: #eeff00;
    color: rgb(0, 0, 0);
    font-family: "Roboto", sans-serif;
    font-size: 100%;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 40%;
}

#stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* atrás de tudo */
    overflow: hidden;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    opacity: 0;
    animation: twinkle 2s infinite;
}

@keyframes twinkle {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}

.passo {
    display: none;
    position: relative;
    z-index: 1; /* na frente das estrelas */
}

.passo.ativo {
    display: block;
}